.clients-list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-top: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &_icon {
    fill: rgba(175, 177, 184, 1);
    transition: $transFill;
  }

  &_item {
    width: 210px;
    height: 92px;
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(175, 177, 184, 1);
    transition: $transBorderColor;

    @include tablet {
      width: 226px;
    }
    @include desktop {
      width: 170px;
    }

    &:hover,
    &:focus {
      border-color: $hoverColor;
      cursor: pointer;

      & > .clients-list_icon {
        fill: $hoverColor;
        cursor: pointer;
      }
    }
  }
}
