.footer {
  background: #2f303a;
  padding: 60px 0;

  &_socials-block {
    @include desktop {
      margin-left: 70px;
      margin-top: 12px;
    }

    & > h3 {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $negativeColor;
    }
  }

  &_container {
    text-align: center;
    display: flex;
    gap: 60px;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include desktop {
      flex-wrap: nowrap;
      justify-content: center;
    }
  }

  &_contact {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 9px;
    display: block;
    transition: $transColor;

    &:first-of-type {
      text-decoration: underline;
    }

    &:hover,
    &:focus {
      color: $hoverColor;
    }
  }

  &_submit-button {
    background-color: $hoverColor;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-style: none;
    margin-top: 36px;
    transition: $transScale;
    cursor: pointer;
    margin-left: 125px;

    @include desktop {
      margin-top: 0;
      margin-left: 0;
    }

    &:hover {
      scale: 1.05;
    }
  }

  &_submit-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: $negativeColor;
  }

  &_form {
    margin: 0 auto;

    @include desktop {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-top: 12px;
      margin-left: 78px;
    }
  }

  &_div {
    @include desktop {
      display: flex;
      gap: 12px;
    }
  }

  &_email-input {
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $negativeColor;

    @include desktop {
      width: 358px;
    }
  }
}

label > h3 {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $negativeColor;
}

address p {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: $negativeColor;
  margin-bottom: 9px;
}
address {
  margin-top: 20px;

  @include desktop {
    text-align: left;
  }
}

.socials_icon--footer {
  fill: $negativeColor;
}

.logo_footer {
  color: #ffffff;
}
