*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $fonts;
  color: $primaryColor;
  max-width: 1600px;
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.section {
  padding: 94px 0;
}
.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
  }
}
.headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
